<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">
</head>
<body>
    <div class="container">
        <h2>Register</h2>
        <form  action="/register" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="gender">gender</label>
                <input type="radio" id="ch1" name="gender" value="male">male
                <input type="radio" id="ch1" name="gender" value="female">female
                <input type="radio" id="ch1" name="gender" value="others">others
            </div>
            <div class="form-group">
                <label for="dateofbirth">Date of Birth</label>
                <input type="date" id="date" name="date" required>
            </div>
            <input type="submit" value="Register">
        </form>
        <div class="footer">
            <p>View all registration<a href="/view">click</a></p>
        </div>
        <h1 style="color:greenyellow;font-size: 20px;justify-content: center;">{{message}}</h1>
    </div>
</body>
</html>
